.category-posts {
  padding-bottom: 80px;

  @include mq($md) {
    padding-bottom: 120px;
  } 

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 20px; 

    @include mq($md) {
      gap: 32px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #232627 60%, #232b2b 100%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:hover {
      box-shadow: var(--shadow-lg);
      border-color: palette(primary-orange, 400);
    }


    @include mq($lg) {
      flex-direction: row;
      align-items: center;
      min-height: 280px;
    }

    &-image {
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;

      @include mq($lg) {
        height: 280px;
        width: auto;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 20px;
      color: palette(primary-offwhite);

      @include mq($md) {
        padding: 32px;
      }
    }

    &-meta {
      color: palette(primary-dark, 200);
      margin-top: 4px;
    }

    &-description {
      color: palette(primary-dark, 100);
      margin-top: 16px;
    }
  }
}