.logos {
  padding: 48px 0;
  overflow: hidden;

  @include mq($md) {
    padding: 64px 0;
  }

  .product-single & {
    @include mq($md) {
      padding: 48px 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mq($md) {
      gap: 24px;
    }
  }

  .swiper {
    margin: 0 -20px;
    width: calc(100% + 40px);

    @include mq($md) {
      margin: 0 -16px;
      width: calc(100% + 32px);
    }
  }

  &:has(.swiper-initialized) {
    .swiper-wrapper {
      justify-content: unset;
    }
  }

  .swiper-wrapper {
    justify-content: center;
    align-items: center;
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: auto;
    padding: 0 20px;

    @include mq($md) {
      padding: 0 16px;
    }
  }
}

.logos__caption {
  color: palette(primary-dark, 400);
}

.logos__item {
  max-height: 32px;
  width: auto;
}
