.pricing-hero {
  padding: 64px 0 40px;

  @include mq($md) {
    padding: 104px 0 104px;
  }
}

.pricing-hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include mq($md) {
    gap: 24px;
  }
}