{{$title:= .content.title }}
{{$fields:= .content.fields }}
{{$form_action:= .content.submit_action}}
{{$form_info:= .content.form_info}}
{{$submit_button:= .content.submit_button}}
{{$embeded:= .content.embeded}}

<div class="form__wrap">
  {{ if $embeded }}
    <div class="form"> 
  {{ else }}
    <form action="{{$form_action}}" class="form"> 
  {{ end }}
    {{with $title}}
      <h2 class="text-title-large form__title js-text-animation">{{.}}</h2>
    {{end}}
    <div class="row">
    {{ if $embeded }}
      <div class="col-12">
        {{ $embeded | safeHTML }}
      </div>
    {{ else }}
        {{ range $fields }}
          {{ $col:= "col-12" }}
          {{ if .half }}
            {{$col = "col-12 col-md-6"}}
          {{ end }}
          <div class="{{ $col }}">
            <div class="form__field">
              <label for="{{ .name }}" class="form__label text-body-small {{if .requared}} required{{end}}">{{ .label }}</label>
              {{ if eq .type "textarea" }}
                <textarea id="{{ .name }}" name="{{ .name }}" class="form__input form__textarea text-body-small" placeholder="{{ .placeholder }}"{{if .requared}} required{{end}}></textarea>
              {{ else if or (eq .type "radio") (eq .type "checkbox") }}
                <input type="{{ .type }}" id="{{ .name }}" name="{{ .name }}" class="form__input text-body-small form__input--check" placeholder="{{ .placeholder }}"{{if .requared}} required{{end}}>
              {{ else}}
                <input type="{{ .type }}" id="{{ .name }}" name="{{ .name }}" class="form__input text-body-small" placeholder="{{ .placeholder }}"{{if .requared}} required{{end}}>
              {{ end }}
            </div>
          </div>
        {{ end }}
        {{ with $form_info }}
          <div class="col-12">
            <div class="form__info">
              <p class="form__info-text">
                {{ . | markdownify}}
              </p>
            </div>
          </div>
        {{ end }}
        {{ end }}
        {{ with $submit_button }}
        <div class="col-12">
          <button  {{ if not $embeded }}type="submit"{{ end }} class="button button--{{.version | default "primary"}} {{ if $embeded }}js-form-submit{{ end }}">
            {{ .text }}
            {{ if .icon }}
            <span class="button__icon">
              {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
            </span>
            {{ end }}
          </button>
        </div>
        {{ end }}
      </div>
  
    {{ if $embeded }}
      {{ with .content.success }}
      <div class="form__success">
        <div class="form__success-icon text-center">
          {{readFile "static/assets/icons/thumb-up.svg" | safeHTML}}
        </div>
        <div class="form__success-text">
          <h2 class="text-title-large">
            {{ .title }}
            <span class="text-gradient js-submit-name"></span>
          </h2>
          {{ with .description }}  
            <p class="text-body-medium text-medium">
              {{.}}
            </p>
          {{ end }}
          {{ with .addition }}   
            <p class="text-body-medium text-grey">
              {{.}}
            </p>
          {{ end }}
        </div>
        {{ with .button }}
        <div class="form__success-button">
          <a class="button button--{{.version}}" href="{{.href}}" {{ if in .href "http" }} rel="noreferer, ,noopener" target="_blank" {{ end }}>
            {{ .text }}
            {{ if .icon }}
              <span class="button__icon">
                {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
              </span>
            {{ end }}
          </a>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div> 
  </div>
  {{ else }}
    </div>
  </form> 
  {{ end }}
</div>
{{ define "form" }}
    {{ $formJs := resources.Get "js/form.js" | minify | fingerprint }}
    <script src="{{ $formJs.RelPermalink | relURL }}"></script>
{{ end }}