$_color-white: #ffffff !default;
$_color-black: #000000 !default;

$_color-offwhite: #F4EBE8 !default;
$_color-offwhite-100: #e8e3d8 !default;

$_color-grad-dark-start: #2A2624 !default;
$_color-grad-dark-end: #342F2B !default;

$_color-dark-100: #E5DAD4!default;
$_color-dark-200: #AD9E95!default;
$_color-dark-300: #998A84!default;
$_color-dark-400: #847770!default;
$_color-dark-500: #4C443F!default;
$_color-dark-600: #302A25!default;
$_color-dark-700: #1E1B19!default;
$_color-dark-800: #171513!default;

$_color-grey-100: #443D39 !default;
$_color-grey-200: #746F6C !default;
$_color-grey-300: #45403C !default;
$_color-grey-400: #3F3F3F !default;
$_color-grey-500: #0e0e0e !default;
$_color-grey-600: #4E4B48 !default;
$_color-grey-700: #3C3937 !default;

$_color-lavende-400: #E7D2F6 !default;
$_color-lavende-900: #272a3c !default;

$_color-orange-200: #ff8c42 !default;
$_color-orange-300: #FF8967 !default;
$_color-orange-400: #FF734A !default;
$_color-orange-500: #F56136 !default;

$_color-red: #C12624 !default;


$palettes: (
    "primary-white": (
        base: $_color-white,
    ),
    "primary-black": (base: $_color-black),
    "primary-offwhite": (
        base: $_color-offwhite,
        100: $_color-offwhite-100
    ),
    "primary-dark": (
        base: $_color-dark-800,
        100: $_color-dark-100,
        200: $_color-dark-200,
        300: $_color-dark-300,
        400: $_color-dark-400,
        500: $_color-dark-500,
        600: $_color-dark-600,
        700: $_color-dark-700,
    ),
    "primary-orange": (
        base: $_color-orange-400,
        200: $_color-orange-200,
        300: $_color-orange-300,
        400: $_color-orange-400,
        500: $_color-orange-500,
    ),
    "primary-lavende": (
        base: $_color-lavende-400,
        900: $_color-lavende-900
    ),
    "primary-red": (base: $_color-red),
    "primary-grad-dark": (
        start: $_color-grad-dark-start,
        end: $_color-grad-dark-end,
    ),
    "primary-grey": (
        100: $_color-grey-100,
        200: $_color-grey-200,
        300: $_color-grey-300,
        400: $_color-grey-400,
        500: $_color-grey-500,
        600: $_color-grey-600,
        700: $_color-grey-700,
    ),
);