//  Main container width
$container: 1312px;

// Predefined gutters
$grid-gutter: 12px;
$grid-gutter-small: 10px;

// Predefined paddings
$container-padding: 20px;
$container-padding-md: 24px;

// Predefined breakpoint
$xs : 375;
$md : 768;
$lg : 992;
$xl : 1280;
$laptop : 1440;
$wide : 1560;

//Aligment 
$aligments: (
    flex-start,
    flex-end,
    center,
    space-between,
    space-around,
    stretch
);

