/**
 * Our base font-size and line-height
 */
$base-font-size: 16 !default;
$base-line-height: 24 !default;
$line-height-ratio: $base-line-height/$base-font-size !default;

$font-sizes: (
  H1: 62,
  H1_mob: 36,
  H2: 56,
  H2_mob: 32,
  H3: 48,
  H3_mob: 28,

  T1: 34,
  T1_mob: 22,
  T2: 24,
  T2_mob: 20,
  T3: 20,
  T3_mob: 18,

  B1: 20,
  B1_mob: 18,
  B2: 18,
  B2_mob: 16,
  B3: 16,
  B3_mob: 14,
  B4: 14,
  B4_mob: 12,

  base: $base-font-size,

  nav: 16,
  nav_mob: 24,

  caption: 12,
  caption_mob: 10,
  btn: 17,
  btn_mob: 15,

  code: 15,
  code_mob: 13
);

$fonts_schema: (
  "heading-large": (size: H1, leading: 70, weight: 400, spacing: -2),
  "heading-large_mob": (size: H1_mob, leading: 39, weight: 400, spacing: -2),
  "heading-medium": (size: H2, leading: 64, weight: 400, spacing: -2),
  "heading-medium_mob": (size: H2_mob, leading: 36, weight: 400, spacing: -2),
  "heading-small": (size: H3, leading: 56, weight: 400, spacing: -2),
  "heading-small_mob": (size: H3_mob, leading: 34, weight: 400, spacing: 0),
  "title-large": (size: T1, leading: 44, weight: 400, spacing: -2),
  "title-large_mob": (size: T1_mob, leading: 34, weight: 400, spacing: -2),
  "title-medium": (size: T2, leading: 32, weight: 400, spacing: 0),
  "title-medium_mob": (size: T2_mob, leading: 27, weight: 400, spacing: 0),
  "title-small": (size: T3, leading: 26, weight: 400, spacing: -2),
  "title-small_mob": (size: T3_mob, leading: 24, weight: 400, spacing: 0),
  "body-large": (size: B1, leading: 30, weight: 400, spacing: 0),
  "body-large_mob": (size: B1_mob, leading: 24, weight: 400, spacing: 0),
  "body-medium": (size: B2, leading: 26, weight: 400, spacing: 0),
  "body-medium_mob": (size: B2_mob, leading: 24, weight: 400, spacing: 0),
  "body-small": (size: B3, leading: 24, weight: 400, spacing: 0),
  "body-small_mob": (size: B3_mob, leading: 20, weight: 400, spacing: 0),
  "body-extra-small": (size: B4, leading: 20, weight: 400, spacing: 0),
  "body-extra-small_mob": (size: B4_mob, leading: 16, weight: 400, spacing: 0),
  "button": (size: btn, leading: 24, weight: 400, spacing: 0),
  "button_mob": (size: btn_mob, leading: 21, weight: 400, spacing: 0),
  "caption": (size: caption, leading: 12, weight: 400, spacing: -2),
  "caption_mob": (size: caption_mob, leading: 10, weight: 400, spacing: 0),
  "code": (size: code, leading: 24, weight: 500, spacing: 0),
  "code_mob": (size: code_mob, leading: 22, weight: 500, spacing: 0),
);
/**
   *	Here we assign short names for the font families
   */
$font-aeonik: 'Aeonik';
$font-aeonik-pro: 'Aeonik Pro';
$font-aeonik-fono: 'Aeonik Fono';
$_font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-families: (
  base: $font-aeonik,
  pro: $font-aeonik-pro,
  fono: $font-aeonik-fono,
  system: $_font-system,
);