{{ $title := .Title | replaceRE `</?[^>]+>` "" | replaceRE `\s+` " " | plainify | trim " \t\n\r" }}

{{ $siteURL := .Site.BaseURL | replaceRE `^https?://` "" | replaceRE `/+$` "" }}

<meta property="og:type" content="{{ .Params.open_graph.type | default "website" }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.BaseURL }}" />

<meta property="og:title" content="{{ .Params.meta.og_title | default $title }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

{{ $ogImage := .Params.meta.og_image | default (.Params.image | default site.Params.meta_image) | absURL }}
<meta property="og:image" content="{{ $ogImage }}" />
<meta name="image" property="og:image:secure_url" content="{{ $ogImage }}" />

{{ $description := .Params.meta.og_description | default (.Params.description | default .Summary | plainify | truncate 160) }}
<meta property="og:description" content="{{ $description | safeHTML }}" />
<meta property="twitter:description" content="{{ $description | safeHTML }}" />

<meta property="article:published_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="article:modified_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta name="twitter:domain" content="{{ $siteURL }}" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta property="twitter:title" content="{{ .Params.meta.og_title | default $title }}" />
<meta property="twitter:description" content="{{ $description }}" />
{{ $twitterImage := .Params.meta.og_twitter_image | default (.Params.image | default site.Params.meta_twitter_image) | absURL }}
{{ if not $twitterImage }}
  {{ $content := .Content }}
  {{ $re := `(?i)<img[^>]+src="([^">]+)"` }}
  {{ $match := findRE $re $content 1 }}
  {{ if gt (len $match) 0 }}
    {{ $twitterImage = (index (findRESubmatch $re $content 1) 0 1) | absURL }}
  {{ end }}
{{ end }}

{{ with $twitterImage }}
  <meta property="twitter:image" content="{{ . | absURL }}" />
  <meta property="twitter:image:src" content="{{ . | absURL }}" />
{{ end }}

{{ with .Params.author }}
  <meta name="author" content="{{ . }}" />
{{ end }}
