/* Table of Contents */
.toc-container {
  position: sticky;
  top: calc(var(--header-height) - var(--header-anonncement-height));
  z-index: 100;
  @include text-style(body-small);
  @include font-family(base);
  color: palette(primary-offwhite, 100);

  @include mq($lg) {
    display: flex;
    flex-direction: column;
    gap: 24px;
    //border-right: 1px solid var(--border-color);
    //padding-right: 16px;
    top: var(--header-height);
    height: calc(100dvh - var(--header-height));
  }

  &.toc-container--blog {
    background: palette(primary-dark);

    li {
      @include mq($max: $lg) {
        margin-bottom: 16px;

        a {
          @include text-style(body-large);
        }
      }

    }

    ul ul {
      margin-top: 8px;
    }

    .toc-wrapper {
      @include mq($max: $lg) {
        max-height: 0;
        transition: max-height 0.4s ease;
        will-change: max-height;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: palette(primary-dark);
      }

      @include mq($lg) {
        height: 100%;
      }
    }

    &.open {
       @include mq($max: $lg) {
         .toc-wrapper {
           max-height: calc(100dvh - 155px);
         }
       }
    }

    .toc {
      padding: 24px 0;
      @include mq($lg) {
        height: 100%;
        overflow-y: auto;
        padding: 0;
        padding-right: 16px;
        margin-right: -16px;
        padding-bottom: 24px;
      }

      // Solid, visible scrollbar for Webkit browsers
      &::-webkit-scrollbar {
        width: 8px;
        background: #23262b;
      }

      &::-webkit-scrollbar-thumb {
        background: #ff734a;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #ff5a1f;
      }

      // Fallback for Firefox
      scrollbar-color: #ff734a #23262b;
      scrollbar-width: thin;
    }
  }

  .toc {
    height: 100%;
    overflow-y: auto;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    margin-bottom: 12px;
  }

  ul ul {
    padding-left: 12px;

    li {
      margin-bottom: 4px;
    }
  }

  a {
    display: block;
    color: palette(primary-offwhite, 100);
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 500;

    &:hover,
    &.active {
      color: palette(primary-orange);
      text-decoration: underline;
    }
  }
}

.toc-mobile-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 12px 20px;
  margin: 0 -20px;
  width: calc(100% + 40px);
  border-bottom: 1px solid var(--border-color);

  @include mq($lg) {
    display: none;
  }
}