.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;

  padding: 11px 19px;
  border: 1px solid;
  border-radius: 4px;

  @include font-family(fono);
  @include font(btn_mob, 21, 500);

  transition: all .3s ease-in-out;
  cursor: pointer;

  @include mq($md) {
    padding: 14px 32px;
    @include font(btn, 24, 500);  
  }
}

.button__icon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;

  svg {
    transition: all .3s ease-in-out;
  }
}

.button--primary {
  background-color: palette(primary-orange);
  border-color: palette(primary-orange);
  color: palette(primary-dark);

  &:hover {
    background-color: palette(primary-orange, 500);
    border-color: palette(primary-orange, 500);
  }

  &:active,
  &:focus {
    background-color: palette(primary-orange, 300);
    border-color: palette(primary-orange, 300);
  }
}

.button--secondary {
  background-color: palette(primary-dark, 600);
  border-color: palette(primary-dark, 500);
  color: palette(primary-offwhite);

  &:hover {
    border-color: palette(primary-dark, 400);
  }

  &:active,
  &:focus {
    background-color: palette(primary-dark);
    border-color: palette(primary-dark, 400);
  }
}

.button--badge {
  padding: 7px 12px;
  background-color: transparent;
  border-color: palette(primary-dark, 500);
  color: palette(primary-dark, 200);
  @include font(B3_mob, 20, 400);

  @include mq($md) {
    padding: 13px 20px;
    @include font(B3, 24, 400);

    .button__icon {
      width: 20px;
      height: 20px;
    }
  }

  &:hover {
    border-color: palette(primary-dark, 400);
  }

  &:active,
  &:focus {
    background-color: palette(primary-dark);
    border-color: palette(primary-dark, 400);
  }
}

.button--badge-small {
  @include font(caption_mob, 10, 400);
  padding: 10px 16px;
  border-radius: 4px;
  color: palette(primary-offwhite);
  text-transform: uppercase;

  @include mq($md) {
    @include font(caption, 12, 400);
  }

  &:hover {
    border-color: palette(primary-dark, 400);
  }

  &:active,
  &:focus {
    background-color: palette(primary-dark);
    border-color: palette(primary-dark, 400);
  }
}