@each $font-key, $font-style in $fonts_schema {
    @if not map-has-key($fonts_schema, "_") {
        .text-#{$font-key} {
            $font-size: map-get($font-style, size);
            $line-height: map-get($font-style, leading);
            $font-weight: map-get($font-style, weight);
            $font-spacing: map-get($font-style, spacing) * 0.01em;

            @include font($font-size, $line-height, $font-weight);
            letter-spacing: $font-spacing;

            @if map-has-key($fonts_schema, "#{$font-key}_mob") {
                $mob-style: map-get($fonts_schema, "#{$font-key}_mob");
                $mob-font-size: map-get($mob-style, size);
                $mob-line-height: map-get($mob-style, leading);
                $mob-font-weight: map-get($mob-style, weight);
                $mob-font-spacing: map-get($font-style, spacing) * 0.01em;

                @include mq($max: $md) {
                    @include font($mob-font-size, $mob-line-height, $mob-font-weight);
                    letter-spacing: $mob-font-spacing;
                }
            }
        }
    }
}

.text-fono {
   @include font-family(fono);
}

.text-pro {
   @include font-family(pro);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-medium {
    font-weight: 500;
}

.text-gradient,
.text-gradient .line {
    background: linear-gradient(90deg, palette(primary-lavende) 0%, palette(primary-orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.js-text-animation {
  overflow: hidden;
}

.js-text-animation .line {
  display: inline-block;
  overflow: hidden;
}