<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class="{{- block "body_class" . }}{{- end }}">
        {{- partial "header.html" . }}
        {{- block "main" . }}
        {{- end }}
        {{ if not (in .RelPermalink "/contact") }}
            {{ partial "footer.html" . }}
        {{ end }}
        {{- partial "scripts.html" . -}}
        {{ block "page_js" .}}{{ end }}
        {{ block "form" .}}{{ end }}
        <!-- Start of HubSpot code snippet -->
        <button type="button" id="hs_show_banner_button"
        style="background-color: #425b76; border: 1px solid #425b76;
            border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
            font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
            text-align: left; text-shadow: none;"
        onClick="(function(){
        var _hsp = window._hsp = window._hsp || [];
        _hsp.push(['showBanner']);
        })()"
        >
        Cookie Settings
        </button>

<!-- End of HubSpot code snippet -->
    </body>
</html>
