{{ define "body_class" }}
  contact-page
{{ end }}
{{ define "main" }}
  <section class="contact">
    <div class="container">
      <div class="row items-center">
        <div class="col-12 col-lg-6">
          <div class="contact__info">
            <h1 class="contact__title text-heading-medium">
              {{ $title := .Title }}
              {{ with .Params.highlighted }}
                {{ $highlighted := . }}
                {{ $highlightedSpan := printf `<span class="text-gradient">%s</span>` $highlighted }}
                {{ $title = replace $title $highlighted $highlightedSpan }}
              {{ end }}
              {{ $title | safeHTML }}
            </h1>
            <p class="contact__description text-body-large">
              {{ .Description }}
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="contact__form">
            <form action="{{.Params.submit_action}}" class="form">
              <div class="row">
                {{ range .Params.fields }}
                  {{ $col:= "col-12" }}
                  {{ if .half }}
                    {{$col = "col-12 col-md-6"}}
                  {{ end }}
                  <div class="{{ $col }}">
                    <div class="form__field">
                      <label for="{{ .name }}" class="form__label text-body-small {{if .requared}} required{{end}}">{{ .label }}</label>
                      {{ if eq .type "textarea" }}
                        <textarea id="{{ .name }}" name="{{ .name }}" class="form__input form__textarea text-body-small" placeholder="{{ .placeholder }}"{{if .requared}} required{{end}}></textarea>
                      {{ else }}
                        <input type="{{ .type }}" id="{{ .name }}" name="{{ .name }}" class="form__input text-body-small" placeholder="{{ .placeholder }}"{{if .requared}} required{{end}}>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
                <div class="col-12">
                  <div class="form__info">
                    <p class="form__info-text">
                      {{ .Params.form_info | markdownify}}
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  {{ with .Params.submit_button }}
                    <button type="submit" class="button button--{{.version | default "primary"}}">
                      {{ .text }}
                      {{ if .icon }}
                        <span class="button__icon">
                          {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
                        </span>
                      {{ end }}
                    </button>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact__bg d-none d-lg-flex">
      <div class="left">
        {{readFile .Params.page_bg.left | safeHTML }}
      </div>
      <div class="right">
        {{readFile .Params.page_bg.right | safeHTML }}
      </div>
    </div>
  </section>
{{ end }}