<footer class="footer">
  <div class="container">
    <div class="footer__menu-wrap">
      <div class="row">
        <div class="col-12 col-lg-6 footer__logo-wrap">
          <a href="/" class="footer__logo">
            <img src="/assets/logo.png" alt="logo" />
          </a>
          <p class="footer__text text-body-madium">
            {{ site.Params.footer.text }}
          </p>
          <ul class="nav__socials">
            {{ range site.Params.footer.socials }}
              {{ $social := . }}
              {{ range site.Params.socials }}
                {{ if eq .name $social }}
                  <li>
                    <a href="{{ .url }}" target="_blank" class="nav__social-link">
                      {{ readFile (printf "static/assets/socials/%s.svg" .icon) | safeHTML }}
                    </a>
                  </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
        </div>
        {{ range .Site.Params.footer.menus }}
          {{ $menuName := . }}
          {{ with index site.Menus $menuName }}
            {{ if . }}
              <div class="col-6 col-lg-2">
                <div class="footer__menu">
                  <h3 class="footer__menu-title">{{ $menuName | title }}</h3>
                  <ul class="footer__menu-list">
                    {{ range . }}
                      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                  </ul>
                </div>
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="footer__bottom">
      <p class="text-body-small">
        &copy; {{ now.Format "2006" }} {{ site.Params.footer.copyright }}. All rights reserved.
      </p>
      <div class="footer__bottom-certifications">
        <p class="text-body-small">
          Certifications:
        </p>
        {{ range site.Params.footer.certifications }}
          <span class="footer__bottom-icon">
            {{ readFile (printf "static/assets/icons/%s" .) | safeHTML }}
          </span>
        {{ end }}
      </div>
    </div>
  </div>
</footer>