<header class="site-header">
    <div class="header-content">
        <a href="/" class="site-title">
            <img src="/assets/blog/logo.png" alt="{{ .Site.Title }}" class="site-logo">
        </a>
        <div class="header-links">
            <a href="https://lancedb.com/documentation" class="header-link">Documentation</a>
            <a href="https://lancedb.com/pricing" class="header-link">Pricing</a>
            <a href="/get-started" class="header-link get-started">Get Started</a>
        </div>
    </div>
</header> 