<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "head/css.html" . }}
    {{ partial "head/seo-meta-tags.html" . }}
    {{ partial "head/og-meta-tags.html" . }}
    {{ partial "head/favicon.html" . }}
    {{- if .Site.Params.googleAnalytics }}
        {{ partial "head/google-analitics.html" . }}
    {{- end}}
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na2.hs-scripts.com/242023405.js"></script>
    <!-- End of HubSpot Embed Code -->
</head>