<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ partial "head/css.html" . }}
    {{ partial "head/seo-meta-tags.html" . }}
    {{ partial "head/og-meta-tags.html" . }}
    {{ partial "head/favicon.html" . }}
    {{- if .Site.Params.googleAnalytics }}
        {{ partial "head/google-analitics.html" . }}
    {{- end}}
</head>