{{ define "main" }}
  <section class="hero-main">
    {{ with .Params.hero.vector }} 
      <div class="hero-main__vector">
        {{ readFile . | safeHTML }}
      </div>
    {{ end }}
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 col-md-8">
          <div class="hero-main__content text-center">
            <h1 class="hero-main__title text-heading-large js-text-animation">
              {{ $title := .Title }}
              {{ with .Params.highlighted }}
                {{ $highlighted := . }}
                {{ $highlightedSpan := printf `<span class="text-gradient">%s</span>` $highlighted }}
                {{ $title = replace $title $highlighted $highlightedSpan }}
              {{ end }}
              {{ $title | safeHTML }}
            </h1>
            <p class="hero-main__description text-body-large js-text-animation">{{ .Description }}</p>
            {{ with .Params.hero.cta}}
            <div class="hero-main__cta">
              {{ range . }}
                <a class="button button--{{.version | default "primary"}}" href="{{.href}}" {{ if in .href "http" }} target="_blank" rel="noopener"{{ end }}>
                  {{ .text }}
                  {{ if .icon }}
                    <span class="button__icon">
                      {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
                    </span>
                  {{ end }}
                </a>
              {{ end }}
            </div>
            {{end}}
          </div>
        </div>
        <div class="col-12">
          <div class="hero-main__media">
            <video autoplay muted loop playsinline>
              <source src="{{.Params.hero.video}}" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ with .Params.logos }}
  <section class="logos text-center js-logos" data-slider-speed="{{ .speed | default 5000 }}">
    <div class="container">
      <h3 class="logos__caption text-body-medium">{{ .caption }}</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          {{ range .items }}
            <div class="swiper-slide">
              <div class="logos__item">
                {{ $logo_src := printf "static/assets/logos/%s" . }}
                {{ readFile $logo_src | safeHTML }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  {{ with .Params.lakehouse }}
  <section class="lakehouse u-bg-dark-700">
    <div class="lakehouse__interact">
      <div class="d-none d-md-block">
        {{readFile .interact | safeHTML }}
      </div>
      <div class="d-md-none">
        {{readFile .interact_mob | safeHTML }}
      </div>
    </div>
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="lakehouse__content text-center">
            <h2 class="lakehouse__title text-heading-small js-text-animation">
              {{ .title | safeHTML }}
            </h2>
            <p class="lakehouse__description text-body-medium js-text-animation">
              {{ .description }}
            </p>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="lakehouse__media">
            {{ $alt := .image_alt | default .title }}
            {{ $image_src := .image }}
            {{ $image_mobile_src := .image_mob | default $image_src }}
            {{ $image := resources.GetMatch $image_src }}
            {{ $image_mobile := resources.GetMatch $image_mobile_src }}
            <picture>
              <source srcset="{{ $image_mobile.Permalink | relURL }}" media="(max-width: 767px)">
              <source srcset="{{ $image.Permalink | relURL }}" media="(min-width: 768px)">
              <img 
                  src="{{ $image.Permalink | relURL }}" 
                  alt="{{ $alt }}" 
                  width="{{ $image.Width }}" 
                  height="{{ $image.Height }}">
            </picture>
          </div>  
      </div>
    </div>  
  </section>
  {{ end }}
  {{ with .Params.infrastructure }}
    <section class="infrastructure">
      <div class="container">
        <div class="infrastructure__badges">
          {{range .badges }}
            <div class="button button--badge">
              <span class="button__icon">
                {{ readFile (printf "static/assets/icons/%s" .icon) | safeHTML }}
              </span>
              <span class="badge__text">{{ .text }}</span>
            </div>
          {{ end }}
        </div>
        <div class="row justify-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="infrastructure__info text-center">
              <h2 class="infrastructure__title text-heading-small text-gradient js-text-animation">
                {{ .title | safeHTML }}
              </h2>
              <p class="infrastructure__description text-body-medium js-text-animation">
                {{ .description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Params.solution }}
    <section class="solution u-bg-dark js-solution" data-speed="{{ .speed | default 3000 }}" style="--anim-speed:{{ .speed | default 3000 }}ms;">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-8">
            <div class="solution__heading text-center">
              <h2 class="solution__title text-heading-small text-gradient js-text-animation">
                {{ .title | safeHTML }}
              </h2>
              <p class="solution__description text-body-medium js-text-animation">
                {{ .description }}
              </p>
            </div>  
          </div>
        </div>
        <div class="solution__tabs-wrap">
          <div class="solution__tabs">
            {{range $index, $item:= .items}}
            <div class="solution__tab text-body-small{{if eq $index 0}} active{{end}}" data-tab="{{ replace $item.tab " " "_" | lower }}">
              {{ $item.tab }}
            </div>
            {{ end }}
          </div>
        </div>
        <div class="solution__content">
          {{ $code := .code }}
          {{ range $index, $item:= .items }}
          {{ $tab_id := replace $item.tab " " "_" | lower }}
            <div class="solution__content-item{{if eq $index 0}} active{{end}}" data-content="{{ $tab_id }}">
              <div class="row items-stratch justify-space-between">
                <div class="col-12 col-md-5 solution__content-text order-2 order-md-1">
                  <h3 class="solution__content-title text-title-large">
                    {{ $item.title }}
                  </h3>
                  <p class="solution__content-description text-body-medium">
                    {{ $item.description }}
                  </p>
                  <div class="solution__range">
                    <div class="solution__range-thumb"></div>
                  </div>
                </div>
                <div class="col-12 col-md-6 oreder-1 order-md-2">
                  <div class="solution__code-wrap">
                    <div class="solution__code-head">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    
                    {{ if $code }}
                      <div class="solution__code">
                        {{ $language := $code.language | default "python" }}
                        {{ $source := $code.source | default "static/assets/snippets/solution.js" }}
                        {{ $id := $tab_id }}
                        {{ partial "components/code.html" (dict "language" $language "source" $source "id" $id) }}
                      </div>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
        {{ with .cta }}
          <a href="{{.href}}" {{if in .href "http" }} target="_blank"{{end}} class="button button--{{.version}} solution__cta">
            {{ .text }}
            {{ with .icon }}
              <span class="button__icon">
                {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
              </span>
            {{ end }}
          </a>
        {{ end }}
      </div>
    </section>
  {{ end }}
  {{ with .Params.how_it_works }}
    <section class="how-it-works u-bg-dark-700 js-how-it-works">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="how-it-works__heading text-center">
              <h2 class="how-it-works__title text-heading-small text-gradient js-text-animation">
                {{ .title | safeHTML }}
              </h2>
              <p class="how-it-works__description text-body-large js-text-animation">
                {{ .description }}
              </p>
            </div>
          </div>  
        </div>
        <div class="row items-stratch">
          {{ range .items }}
            <div class="col-12 col-md-6">
              <div class="how-it-works__item">
                <h3 class="how-it-works__item-title text-title-large">
                  {{ .title }}
                </h3>
                <div class="how-it-works__list-wrap">
                  <div class="how-it-works__list-line"></div>
                  <ul class="how-it-works__list">
                    {{ range $index, $li:= .list }}
                      <li class="how-it-works__list-item">
                        <div class="how-it-works__list-icon">
                          {{ readFile (printf "static/assets/icons/%s" $li.icon) | safeHTML }}
                        </div>
                        <div class="how-it-works__list-content">
                          <p class="how-it-works__list-number text-body-medium text-medium">{{ printf "%02d" (add $index 1) }}</p>
                          <h4 class="how-it-works__list-title text-title-small">
                            {{ $li.heading }}
                          </h4>
                          <p class="how-it-works__list-text text-body-small">
                            {{ $li.text | markdownify }}
                          </p>
                        </div>
                      </li>
                    {{ end }}
                  </ul>
                </div>
                {{ with .cta }}
                  <a href="{{.href}}" {{if in .href "http" }} target="_blank"{{end}} class="button button--{{.version}} how-it-works__cta">
                    {{ .text }}
                    {{ with .icon }}
                      <span class="button__icon">
                        {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
                      </span>
                    {{ end }}
                  </a>
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Params.scale }}
    <section class="scale js-scale" data-speed="{{ .speed | default 3000 }}">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-6">
            <h2 class="scale__title text-heading-small text-center js-text-animation">
              {{ .title | safeHTML }}
            </h2>
          </div>
        </div>
        <div class="row items-stratch">
          {{ $cols := div 12 (len .cards) }}
          {{ range .cards }}
            <div class="col-12 col-md-{{ $cols }}">
              <div class="scale__card">
                <div class="scale__card-body">
                  <div class="scale__count-wrap">
                    <h3 class="scale__count text-gradient text-pro" data-count="{{ .number }}">
                      0
                    </h3>
                    <span class="scale__count-pref">
                      {{ .prefix }}
                    </span>
                  </div>
                  <p class="scale__card-text text-body-medium text-medium text-fono">
                    {{ .text | markdownify }}
                  </p>
                </div>
                <div class="scale__lottie" data-lottie="{{ .lottie }}" ></div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Params.compliance }}
    {{ partial "components/compliance.html" . }}
  {{ end }}
  {{ with .Params.testimonials }}
    <section class="testimonials js-slider" >
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <h2 class="testimonials__title text-heading-small js-text-animation">
              {{ .title | safeHTML }}
            </h2>
          </div>
        </div>
        <div class="testimonials__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              {{ range .items }}
                <div class="swiper-slide">
                  <div class="testimonials__item text-center">
                    <div class="testimonials__item-icon">
                      {{ readFile .icon | safeHTML }}
                    </div>
                    <p class="testimonials__item-text text-body-medium">
                      "{{ .text }}"
                    </p>
                    <div class="testimonials__item-rating">
                      {{ range seq 1 .rating }}
                        <span class="testimonials__item-star">
                          {{ readFile "static/assets/icons/star.svg" | safeHTML }}
                        </span>
                      {{ end }}
                    </div>
                    {{ with .author }}  
                      <h3 class="testimonials__item-author text-body-small text-pro">
                        <span class="author">{{ .name }},</span>
                        {{ .position }}
                      </h3>
                    {{ end }}
                  </div>
                </div>
              {{ end }}
            </div>
          </div>
          <div class="swiper-pagination d-md-none"></div>
        </div>
      </div>
    </section>
  {{ end }}
  {{ with .Params.blog }}
    {{ $highlighted := .highlighted }}
    {{ $all_posts := where site.RegularPages "Section" "blog" }}
    {{ $posts := slice }}
    {{ if $highlighted }}
      {{ $posts = where $all_posts ".Params.featured" true }}
    {{ else }}
      {{ range .posts }}
        {{ $current_psot := where $all_posts "Title" . }}
        {{ if not (eq $current_psot nil) }}
          {{ $posts = $posts | append $current_psot }}
        {{ end }}
      {{ end }}
    {{end}}
    <section class="recent-posts js-slider">
      <div class="container">
        <div class="row justify-center">
          <div class="col-12 col-md-8 col-lg-6 text-center">
            <h2 class="recent-posts__title text-heading-small js-text-animation">
              {{ .title | safeHTML }}
            </h2>
          </div>
        </div>
        <div class="recent-posts__slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              {{ range first 3 $posts }}
                {{ $reading_time := div .WordCount 200 | math.Round }}

                <div class="swiper-slide">
                  <a href="{{ .RelPermalink }}" class="recent-posts__card">
                    
                    {{ if .Params.image  }}
                      <div class="recent-posts__card-image">
                        <img src="{{ .Params.image  | relURL }}" alt="{{ .Title }}">
                      </div>
                    {{ end }}

                    <div class="recent-posts__card-content">
                      <div class="recent-posts__card-meta">
                        <p class="text-body-small">
                          {{ if gt $reading_time 0 }}{{ $reading_time }} min read,{{ end }}
                          {{ .Date.Format "January 2, 2006" }}
                        </p>
                        <div class="recent-posts__card-category__wrap">
                          {{ range .Params.categories }}
                            <span class="recent-posts__card-category text-caption text-fono">
                              {{ . }}
                            </span>
                          {{ end }}
                        </div>
                      </div>
                      <h3 class="recent-posts__card-title text-title-medium">
                        {{ .Title }}
                      </h3>
                    </div>
                  </a>
                </div>
              {{ end }}

            </div>  
          </div>
        </div>
        {{ with .cta }}
          <a href="{{.href}}" class="button button--{{.version}}">
            {{ .text }}
            {{ with .icon }}
              <span class="button__icon">
                {{ readFile "static/assets/icons/arrow_right.svg" | safeHTML }}
              </span>
            {{ end }}
          </a>
        {{ end }}
      </div>  
    </section>
  {{ end }}
  {{ with .Params.cta }}
    {{ partial "components/cta.html" (dict "content" . "type" .type) }}
  {{ end }}
{{ end }}

{{ define "page_js" }}
  {{ $swiper := resources.Get "js/vendors/swiper-bundle.min.js" | fingerprint }}
  {{ $js := resources.Get "js/home.js" | minify | fingerprint }}
  {{ $gsapJs := resources.Get "js/gsap.js" | minify | fingerprint }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MotionPathPlugin.min.js"></script>
  <script src="{{ $swiper.RelPermalink }}"></script>
  <script src="{{ $js.RelPermalink }}"></script>
  <script src="{{ $gsapJs.RelPermalink }}"></script>
{{ end }}