{{ define "body_class" }}
  product-single text-base
{{ end }}
{{ define "main" }}
  <div class="text-base">
    {{ range .Params.sections }}
      {{ if .type }}
        {{ partial (printf "sections/%s" .type) (dict "section" . "page" $.Page "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
{{ define "page_js" }}
  {{ if .Params.enableSwiper }}
    {{ $swiper := resources.Get "js/vendors/swiper-bundle.min.js" | fingerprint }}
    <script src="{{ $swiper.RelPermalink }}"></script>
  {{ end }}
  {{ $types := slice }}
  {{ range .Params.sections }}
    {{ with .type }}
      {{ $types = $types | append . }}
    {{ end }}
  {{ end }}

  {{ range uniq $types }}
    {{ if eq . "how-it-works-product" }}
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MotionPathPlugin.min.js"></script>
    {{ end }}
    {{ $path := printf "js/%s.js" . }}
    {{ with resources.Get $path }}
      {{ $script := . | minify | fingerprint }}
      <script src="{{ $script.RelPermalink }}"></script>
    {{ end }}
  {{ end }}
{{ end }}